* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: "Montserrat", sans-serif;

}
.app{
    background: transparent;
}

.sidebar {
    display: flex;
    z-index: 0;
    position: relative;
    bottom:50px;
    background: red;
}

.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-21.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
    top: 100px;
    left: auto;
    position: fixed;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.makeStyles-appBar-16.mui-fixed.MuiPaper-elevation4 {
    top: 110px;
    position: fixed;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.makeStyles-appBar-16.makeStyles-appBarShift-17.mui-fixed.MuiPaper-elevation4 {
    top: 110px;
    position: fixed;
}

.RangeSlider {
    width: inherit;
}

.movie-cards {
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    margin: auto;
}

.search-bar {
    max-width: 300px;
    position: relative;
    background: transparent;
    top:30px;

    left: auto;
    background: #fff;
    z-index: 2;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.advance-button{
    position: relative;
    max-width: 100%;
    top:30px;
    left:61px;
    background: transparent;
}
